@import url('/css/rowan.css');

@font-face {
    font-family: "Rowan";
    src: url("./fonts/Rowan-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rowan";
    src: url("./fonts/Rowan-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Rowan";
    src: url("./fonts/Rowan-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rowan";
    src: url("./fonts/Rowan-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Rowan";
    src: url("./fonts/Rowan-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rowan";
    src: url("./fonts/Rowan-SemiboldItalic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Rowan";
    src: url("./fonts/Rowan-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rowan";
    src: url("./fonts/Rowan-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* rungli */
@font-face {
    font-family: "Rungli";
    src: url("./fonts/Rungli-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rungli";
    src: url("./fonts/Rungli-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}