@import url("./font.css");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark-gray: #3d3f3f;
  --teal: #218683;
}

body {
  /* margin: 200px; */
  color: white;
  font-family: "Rowan";
  background-color: #208683;
}

.page-loader {
  position: fixed;
  inset: 0;
  z-index: 2000;
  display: grid;
  place-items: center;
  gap: -120px;
  background: #3E3F3F;
  transition: opacity 0.4s ease;
}

.page-loader.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.page-loader-spinner {
  width: 36px;
  height: 36px;
  margin-top: 400px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: loader-spin 1s linear infinite;
}

.page-loader-text {
  font-size: 0.9rem;
  letter-spacing: 0.08em;
  margin-bottom: 300px;
}

@keyframes loader-spin {
  to {
    transform: rotate(360deg);
  }
}

section {
  height: 101vh;
  width: 100vw;
  position: relative;
}

header {
  position: fixed;
  z-index: 100;
  width: 600px;
  width: 100vw;

  top: 0;
  /* left: 32vw; */
  padding: 5vh 5vw;
  font-size: 0.6rem;
}

header>* {
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

/* poem body */
main {
  position: fixed;
  z-index: 200;
  /* position: absolute; */
  /* left: 36vw; */
  top: 50vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 500px 1fr;
}

main>div {
  margin-inline: auto;
  grid-column: 2;
}


p {
  z-index: 100;
  font-size: 1.1rem;
}

.title-pg {
  position: fixed;
  z-index: 800;
  top: 0;
  left: 0;
  background-color: var(--dark-gray);
  background-position: center;
  width: 100vw;
  height: 100vh;
  font-family: "HYChang";
  color: #2DB6B1;
}

.credit{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 40px;
  margin-left: 36px;
  font-size: 14.5px;
  line-height: 1.3;
  font-family: "Rowan";
}

.credit a{
  color: #2DB6B1;
}

.poem-title-lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -50px;
}

.poem-title-line {
  font-size: 280px;
  line-height: 1.18;
  
}

.poem-info {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  width: 100vw;
  text-align: center;
}

.poem-dynasty {
  top: 32.5%;
}

.poem-author {
  top: 63.5%;
}

.poem-author:hover {
  content: "He Zhu";
}

.ph-speaker-simple-x{
  opacity: 0.6;
}





.tag {
  position: absolute;
  top: 0;
  left: 57.2%;
  font-size: 22px;
  padding: 3px 10px;
  border: 1.8px solid #2DB5B1;
}

.tag-qing {
  top: 5%;
}

.tag-yu {
  top: 40%;
}

.tag-an {
  top: 73%;
}

.btn-music{
  background: none;
  border: none;
  width: fit-content;
  position: fixed;
  right: 8%;
  top: 5vh;
  font-size: 1.4rem;
  padding: 0.5rem;
  color: white;
}

.btn-music:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}

.background-shield {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: -200;
  height: 120vh;
  background-color: var(--dark-gray);
}

.tooltip {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  color: #b1e1ed;
  text-align: center;
  font-family: "geist";
  opacity: 0;
  filter: blur(10px);
}

.canvas-array {
  height: 100vh;
  /* turn this back on for official run */
  overflow: hidden;
  /* overflow: scroll; */
}

.screen-0 {
  height: 100vh;
}

.screen-1 {
  position: relative;
  z-index: 300;
  background-color: var(--dark-gray);
}

.pin-spacer:first-child {
  background-color: var(--dark-gray);
}

.poem-line {
  width: 100%;
  text-align: left;
  /* margin-bottom: 0.4rem; */
  line-height: 1.6;
}

.ph-caret-left {
  display: inline-block;
  opacity: 0.4;
  transform: translateX(5px);

}

.stanza-end {
  margin-bottom: 2rem;
}

/* .poem-line:not(.poem-line:first-of-type) */

.screen-1-canvas {
  filter: blur(1px);
  position: relative;
  top: 0;
  /* filter: blur(20px); */
  left: 0;
}



.blur-text {
  filter: blur(5px);
  font-weight: 700;
}

.screen-2 {
  height: 100vh;
  background: linear-gradient(180deg, #3C3F3E 2.66%, #218683 97.4%);
  /* background-color: #208683; */
}

.screen-2-canvas {
  filter: blur(4px);
}

.screen-2-p {
  top: 50vh;
}

.screen-3 {
  background-color: #208683;
}

.screen-3-p {
  /* position: sticky; */
}

.screen-4 {
  background-color: #208683;
  background-image: url("./static/radial-blur-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  height: 120vh;
}

.screen-4-p {
  top: 75vh;
}

.screen-5 {
  position: relative;
}

.screen-5-canvas {
  height: 200vh;
  position: absolute;
}

.screen-5,
.screen-6,
.screen-7 {
  height: 100vh;
}

.screen-6 {
  background: linear-gradient(180deg, #218683 50.66%, #3C3F3E 90.4%);
  z-index: -10;
}

.screen-7 {
  background-color: var(--dark-gray);
  position: relative;
}

.screen-7-canvas{
  height: 100vh;
}

.screen-8, .screen-9 {
  height: 100vh;
  background-color: #378F8D;
}

.screen-8{
  background: linear-gradient(180deg, #3C3F3E 20.4%, #378F8E 90.66%);
}

.screen-8-canvas{
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.screen-8-video{
  height: 100vh;
  position: absolute;
  width: 100%;
  object-fit: cover;
  bottom: 0;
  left: 0;
  /* mix-blend-mode: overlay; */
  z-index: 100;
  filter:brightness(1.5);
  opacity: 0.7;
  filter: blur(5px);
}

.stanza-4-screens{
position: relative;
height: 200vh;
background-color: #378F8D;
}